<?xml version="1.0"?>
<config>
    <modules>
        <SoftwareHeld_Xrechnung>
            <version>1.0.0</version>
        </SoftwareHeld_Xrechnung>
    </modules>

    <global>
        <helpers>
            <xrechnung>
                <class>SoftwareHeld_Xrechnung_Helper</class>
            </xrechnung>
        </helpers>

        <models>
            <xrechnung>
                <class>SoftwareHeld_Xrechnung_Model</class>
            </xrechnung>
        </models>

        <resources>
            <softwareheld_xrechnung_setup>
                <setup>
                    <module>SoftwareHeld_Xrechnung</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
<!--                    <class>Mage_Customer_Model_Resource_Setup</class>-->
                </setup>
            </softwareheld_xrechnung_setup>
        </resources>

        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <xrechnung_block_abstract_prepare_layout_before>
                        <class>xrechnung/observer</class>
                        <method>addMassActionForOrdersGrid</method>
                    </xrechnung_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_quote_address_collection_load_after>
                <observers>
                    <xrechnung_sales_quote_address_collection_load_after>
                        <class>xrechnung/observer</class>
                        <method>salesQuoteAddressCollectionLoadAfter</method>
                    </xrechnung_sales_quote_address_collection_load_after>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_convert_quote_address_to_order_address>
                <observers>
                    <xrechnung_sales_convert_quote_address_to_order_address>
                        <class>xrechnung/observer</class>
                        <method>salesConvertQuoteAddressToOrderAddress</method>
                    </xrechnung_sales_convert_quote_address_to_order_address>
                </observers>
            </sales_convert_quote_address_to_order_address>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SoftwareHeld_Xrechnung before="Mage_Adminhtml">SoftwareHeld_Xrechnung</SoftwareHeld_Xrechnung>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <softwareheld_xrechnung>
                    <file>softwareheld_xrechnung.xml</file>
                </softwareheld_xrechnung>
            </updates>
        </layout>
    </frontend>
</config>